@charset "utf-8";
/* CSS DOC */

html {
	margin: 0;
	/*background-color: white;*/
}

header {
    display: block;
}

h1 {
	margin: 0;
}

body {
    	padding: 0px;
	margin: 0;
	
	background-color:#121212; /*#141414	#171717*/
	/*position: relative;  /*have this for everything in centered and not bounded by viewport*/
    	font-family: 'Roboto Mono', monospace;
    	/*font-size: small;*/
    	/*font-family: Cambria, Robot Mono, serif; */
}

.welcome_box {
	/*
    	height: 44px;
	width: 225px;
    	border-top: 4px dashed white;
	border-left: 4px solid white;
	border-right: 4px solid white;
	border-bottom: 4px dashed white;
	*/
    	margin: 0 auto;
	margin-top: 2em;	/*Spacing from the top*/
	margin-bottom: 1em;
    	position: relative;
}

.site-header {
    	/*border-top: 1px solid #424242;
    	border-bottom: 1px solid #e8e8e8;*/
    	min-height: 20px;
    	position: relative;
}

.site-footer {
    	/*border-top: 1px solid #e8e8e8;*/
    	padding: 10px 0;
}

.container {
    	font-family: 'Roboto Mono', monospace;
    	position: relative;
   	/*top: 15%; /* 10-20% seems good */ /*need to make width/height limited so scaling doesn't happen*/
   	text-align: center;
	width: calc(1600px);
	/*height: calc(1200px);*/
    	margin-left: auto;
    	margin-right: auto;
    	color: floralwhite;
	margin: auto;
}

.contain-wrapper {
	overflow: auto;
}

.star {
	position: absolute;
	/*width: 15px;
	height: 15px;
	margin: 0px;
	background-color: white;*/
	padding: 0px;
}

#star_blockLeft {
	position: relative;
	float: left;
	/*margin-top: -450px;*/
	width: 300px;
	/*height: 990px;*/
	/*border: 3px solid #73AD21;*/
}

#star_blockRight {
	position: relative;
	float: right;
	/*margin-top: -450px;*/
	float: right;
	width: 300px;
	/*height: 990px;*/
	/*border: 3px solid #73AD21;*/
}

.text_block p {
    	/*display: inline-block;
    	word-wrap: break-word;*/
    	white-space: nowrap;
    	margin: 0px;
    	font-size: 16px;
}

.text_block {
    	position: relative;
    	margin: auto;
    	/*height: 400px;*/
    	width: 800px;
	float: center;
    	/*border: 4px solid grey;*/
	padding: 1%;
}


table {
	border-collapse: collapse;
}

td, th {
	border: 2px solid grey;
  	padding: 0.5rem;
  	/*margin: 0;*/
  	text-align: left;
}
